<launch>

	<!-- Start Gazebo with an empty world and then we add the world with the 2 small boxes-->

	<include file="$(find gazebo_ros)/launch/empty_world.launch" >
		<arg name="world_name" value = "$(find gazebos)/launch/gazebo_boxes.world" />
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="recording" value="false"/>
		<arg name="debug" value="false"/>
	</include>

</launch>
